        body {
            font-family: 'Sora', sans-serif;
            padding-left: 30px;
        }
        
        section {
            display: flex;
        }
        
        h1 {
            font-size: 50px;
            padding-top: 10px;
            border-left: 3px solid rgb(259, 89, 89);
        }
        
        h2 {
            padding-left: 300px;
            font-size: 50px;
        }
        
        h3 span {
            font-size: 20px;
            padding-left: 30px;
        }
        
        .mission {
            color: rgb(255, 173, 90);
        }
        
        .half-width {
            width: 50%;
            padding: 5%;
            text-align: left;
        }
        
        .half-width img {
            width: 80%;
        }
        
        .link-button {
            text-decoration: none;
            background-color: rgb(259, 89, 89);
            padding: 12px 30px;
            border-radius: 5px;
            color: white;
        }
        
        .mission-details {
            padding-left: 30px;
        }
        
        .trisec {
            width: 25%;
            padding: 20px;
        }
        
        .trisec img {
            width: 80%;
        }
        
        #goals {
            background-color: rgb(236, 230, 226);
            margin: 3px;
        }
        
        #method {
            background-color: rgb(252, 205, 205);
            margin: 3px;
        }
        
        #activities {
            background-color: thistle;
            margin: 3px;
        }
        
        #devlimit {}
        
        footer {
            background-color: black;
            padding: 50px;
            margin-left: 30px;
            margin-right: 100px;
        }
        
        footer p {
            text-align: center;
            color: white;
        }
        
        p span {
            font-size: 40px;
            font-family: 'Brush Script MT', cursive;
        }
        
        p number {
            color: rgb(259, 89, 89);
        }