body {
    font-family: 'Sora', sans-serif;
    padding-left: 30px;
}

section {
    display: flex;
}

h1 {
    font-size: 50px;
    padding-top: 10px;
    border-left: 3px solid rgb(259, 89, 89);
}

h2 {
    padding-left: 300px;
    font-size: 50px;
}

.mission {
    color: rgb(255, 173, 90);
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(259, 89, 89);
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
}

.trisec {
    width: 25%;
    padding: 20px;
}

.trisec img {
    width: 80%;
}